<h2 mat-dialog-title>Regenerate Tree Node</h2>
<mat-dialog-content class="mat-typography" [formGroup]="mainDialog">
    <mat-form-field class="example-full-width">
        <input type="number" matInput min="0" max="15" formControlName="count" placeholder="Enter Count" required>
        <mat-error *ngIf="mainDialog.get('count').hasError('required')">Count is required</mat-error>
        <mat-error *ngIf="mainDialog.get('count').hasError('max')">Count should up to 15</mat-error>
        <mat-error *ngIf="mainDialog.get('count').hasError('min')">Count should be positive number</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" matInput formControlName="lower" placeholder="Enter Lower Bound" required>
        <mat-error *ngIf="mainDialog.get('lower').hasError('required')">Lower Bound is required</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" matInput formControlName="higher" placeholder="Enter hight Bound" required>
        <mat-error *ngIf="mainDialog.get('higher').hasError('required')">Upper Bound is required</mat-error>
    </mat-form-field>
    <mat-error *ngIf="mainDialog.hasError('RangeError')">This range can't generate enough random numbers</mat-error>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="onGenerate()">Generate</button>
  <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</mat-dialog-actions>