<h1 mat-dialog-title>Edit Tree Node Info</h1>
<div mat-dialog-content [formGroup]="mainDialog">
    <mat-form-field class="example-full-width">
        <input type="number" matInput min="0" max="15" formControlName="count" placeholder="Enter Count" required>
        <mat-error *ngIf="mainDialog.get('count').hasError('required')">Count is required</mat-error>
        <mat-error *ngIf="mainDialog.get('count').hasError('max')">Count should up to 15</mat-error>
        <mat-error *ngIf="mainDialog.get('count').hasError('min')">Count should be positive number</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" matInput formControlName="lower" placeholder="Enter Lower Bound" required>
        <mat-error *ngIf="mainDialog.get('lower').hasError('required')">Lower Bound is required</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" matInput formControlName="higher" placeholder="Enter hight Bound" required>
        <mat-error *ngIf="mainDialog.get('higher').hasError('required')">Upper Bound is required</mat-error>
    </mat-form-field>
    <mat-error *ngIf="mainDialog.hasError('RangeError')">This range can't generate enough random numbers</mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onGenerate()" cdkFocusInitial>Generate</button>
  <button mat-button (click)="onDelete(data.id)" cdkFocusInitial>Delete</button>
</div>